@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Mono:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');

html, body {
  height: 100%;
  @apply text-white font-body;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-white font-heading;
}

p {
  @apply text-white font-body;
}

.wallet-adapter-button-trigger {
  background: rgb(100, 26, 230) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.wallet-adapter-dropdown-list, .wallet-adapter-button {
  font-family: inherit !important;
}
